:root {
  @supports (-webkit-touch-callout: none) {
    --navigation-menu-height: 85px;
  }
  @supports not (-webkit-touch-callout: none) {
    --navigation-menu-height: 60px;
  }
}

.navigation-menu {
  @supports (-webkit-touch-callout: none) {
    padding-bottom: 1.75rem !important;
  }
}

.navigation-menu .navigation-menu-item {
  background: none !important;
  color: rgba(0, 0, 0, .90) !important;
}