:root {
  --navigation-menu-height: 10vh;
}

.navigation-menu {
  height: var(--navigation-menu-height) !important;
  padding-bottom: 1.75rem !important;
}

.navigation-menu .navigation-menu-item {
  background: none !important;
}