:root {
  --transition-durition: .2s
}

.switch-container {
  font-size: 1rem;
  cursor: pointer !important;
  display: flex;
  align-items: center;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.switch-input {
  height: 0;
  width: 0;
  visibility: hidden;
}

.switch-slider {
  width: 3.286rem;
  height: 1.857rem;
  border-radius: 1.857rem !important;
  position: relative;
  margin-right: .75rem !important;
  transition: var(--transition-durition);
}

.switch-slider:before {
  content: '';
  position: absolute;
  top: 0.214rem;
  left: 0.214rem;
  width: 1.429rem;
  height: 1.429rem;
  background: #fff;
  border-radius: 50%;
  transition: var(--transition-durition);
}

.switch-input:checked + .switch-slider:before {
  transform: translateX(100%);
}