/* 1. Create global variables for text and background color */
:root {
  --color-text: #000;
  --color-background: #fafafa;
}

/* 2. Add conditional styling for dark mode preference */
/*@media (prefers-color-scheme: dark) {*/

/*  !* Re-assign previous variables *!*/
/*  :root {*/
/*    --color-text: #eee;*/
/*    !* black => white *!*/
/*    --color-background: #000;*/
/*    !* white => black *!*/
/*  }*/
/*}*/

/* 3. Assign variables to page color and background */
body {
  color: var(--color-text);
  background-color: var(--color-background) !important;
}

body * :not(i) {
  font-family: 'Roboto', sans-serif !important;
}